* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(5, 66, 44, 1);
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    padding: 8px 24px;
}

.first_two_feat_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 14px;
    padding-top: 14px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.your_account {
    border-right: rgba(200, 201, 203, 1) solid 1px;
    padding-right: 16px;
}

.cart_wrapper {
    position: relative;
}

.purchase_counter {
    position: absolute;
    top: 30%;
    left: 55%;
}

.second_two_feat_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-top: rgba(244, 244, 244, 1) solid 1px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.search_input {
    border-radius: 100px;
    width: 298px;
    color: rgba(200, 201, 203, 1);
    height: 36px;
    border:rgba(244, 244, 244, 1) solid 2px;
}

.search_input::placeholder{
    padding-left: 20px;
}

.main_page {
    background-image:url("../images/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 694px;
    margin-bottom: 64px;
}

#best_seller_title {
    color: rgba(242, 188, 27, 1);
    padding-top: 56px;
    padding-left: 24px;
}

#h1_main {
    color: white;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 16px;
}

#Vitamins {
    color: white;
    padding-left: 24px;
    margin-bottom: 40px;
}

#ad_wrapper {
    display: flex;
    color: white;
    padding-left: 24px;
}

.offer_left {
    border-right: rgba(157, 158, 162, 1) solid 1px;
    padding-right: 24px;
}

.offer_right {
    padding-left: 24px;
}

.shop_but {
    width: 145px;
    height: 56px;
    margin-top: 40px;
    background-color: rgba(23, 175, 38, 1);
    margin-left: 24px;
    border-radius: 100px;
    border-style: none;
}

.list_item {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-direction: row;
    margin: 0px 24px 32px 24px;
}

.detail_section {
    width: 254px;
}

.detail_title {
    font-size: 20px;
    margin-bottom: 12px;
}

.bragging {
    margin-bottom: 64px;
}

.instructions {
    background-color: rgba(1, 16, 11, 1);
}

#instruction_h1 {
    color: white;
    padding-top: 121px;
    text-align: center;
}

#instruction_p {
    color: rgba(157, 158, 162, 1);
    margin-top: 39px;
    text-align: center;
    margin-bottom: 82px;
}

.instruction_list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_wrapper {
    display: flex;
    align-content: start;
    align-items: start;
}

.written_details {
    text-align: center;
    color: white;
}

.p_det {
    color: rgba(157, 158, 162, 1);
}

.li_det_wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 94px;
}

.refer_here {
    display: block;
    color: white;
    background-color: rgba(23, 175, 38, 1);
    border-radius: 100px;
    border-style: none;
    width: 165px;
    height: 56px;
    align-self: center;
    margin: 0 auto;
}

.first_weed_seller {
    margin-top: 78px;
    text-align: center;
}

#firs_seller_h1 {
    text-align: left;
    margin: 0px 24px;
}

#num1 {
    color: rgba(242, 188, 27, 1);
}

#firs_seller_des {
    margin-top: 16px;
    text-align: left;
    margin: 16px 24px 32px;
}

.more_brag {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: rgba(206, 207, 213, 0.4) solid 2px;
    padding: 16px;
    margin: 0px 24px;
    border-radius: 12px;
}

.more_brag_des {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.more_brag_list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.drug_brag {
    margin-bottom: 102px;
}

.recent_products {
    margin-left: 12px;
    margin-bottom: 24px;
}

.filtering {
    margin-left: 12px;
    margin-bottom: 24px;
}

.Indica_or_sativa {
    width: 86px;
    height: 28px;
    display: block;
    border-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.current_price {
    color: rgba(235, 38, 6, 1);
}

.weight {
    display: flex;
    gap: 8px;
}

.weed_weight {
    width: 46px;
    height: 26px;
    border: rgba(244, 244, 244, 1) solid 1px;
}

.price {
    display: flex;
    gap: 8px;
    margin-bottom: 23.5px;
}

.add_to_cart {
    width: 117px;
    height: 40px;
    background-color: rgba(23, 175, 38, 1);
    border-style: none;
    color: white;
    border-radius: 100px;
    margin-top: 20px;
}

.product_name {
    margin-top: 24px;
    margin-bottom: 8px;
    text-align: center;
    align-items: center;
}

.star {
    display: flex;
    align-items: center;
    border-right: rgba(200, 201, 203, 1) solid 2px;
    width: 45px;
    padding-right: 8px;
    justify-content: center;
}

.star_wrapper {
    display: flex;
    margin-bottom: 8px;
}

.reviews {
    padding-left: 8px;
}

.product_h2 {
    width: 159px;
    text-align: center;
    margin-bottom: 8px;
}

.product_sell {
    margin: 0px 24px 60px;
    height: 491px;
}

.each_two_product{
    display: flex;
    justify-content: center;
}

.product2_h2{
    width: 159px;
    text-align: center;
    margin-bottom: 8px;
    font-size: 23px;
}

.product3_h2 {
    width: 159px;
    text-align: center;
    margin-bottom: 8px;
    font-size: 20px;
}

.product4_h2 {
    width: 159px;
    text-align: center;
    margin-bottom: 8px;
    font-size: 27px;
}